*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --white : rgba(255, 255, 255);
    --primary : rgb(206, 83, 83);
    --bg-primary : rgb(51,59,80);
}
.container{
    max-width: 1240px;
    margin: auto; 
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.justify-contact{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.w-50{
    width: 50%;
    padding: 15px;
}

/* header  */

nav ul li{
    margin: 10px;
    padding: 10px;
}
nav ul li a{
    font-size: 22px;
    color: var(--primary);
}
header{  
    background-color: var(--bg-primary);
}
header .logo img{
    height: 80px;
    width: 150px;
    padding: 10px;
}
header .toggle{
    color: var(--primary);
    font-size: 25px;
    padding: 0 30px;
}

/* home section css  */

.img-box{
    position: relative;
    background-image: url(../img/035244_b479c942430942bfab09b6cc06ff380a~mv2.jpg);
    width: 100%;
    height: 920px;
    background-attachment: fixed;
    background-size: cover;
}
.home-overlay{
    position: absolute;
    width: 100%;
    height: 920px;
    background-color: rgba(51, 59, 80, 0.628);
}
.home-contact{
    position: absolute;
    top: 150px;
}
.home-contact h1{
    font-size: 100px;
}
.home-contact h1 span{
    font-size: 100px;
    color: var(--primary);
}
.home-contact p{
    font-size: 30px;
    padding: 40px 0;
    letter-spacing: 3px;
    word-spacing: 5px;
}

/* about section css  */
.about-box{
    position: relative;
}
.about{ 
    width: 700px;
    margin: auto;
    padding: 50px;
    background-color: var(--bg-primary);
    text-align: center;
    position: absolute;
    top: -250px;
    z-index: 1;
    left: 25%;
    right: 25%;
}
.about-section{
    position: relative;
    background-image: url(../img/88aac0_6a597bdc0f014879b92014e8f187a776~mv2.jpeg);
    padding: 100px;
    height: 760px;
}
.about-section .about-overlay{
    position: absolute;
    background-color: rgba(51, 59, 80, 0.628);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about-page{
    position: absolute;
    width: 700px;
    margin: auto;
    padding: 50px;
    background-color: var(--bg-primary);
    text-align: center;
    left: 20%;
    right: 20%;
}
.about-page .about-logo img{
    width: 100px;
}
.about-page .about-content p{
    color: var(--white);
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    margin: 50px;
}
.about-page .resume a{
    border-radius: 3px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primary);
    transition: all 0.5s;
    color: var(--white);
}
.about-page .resume a:hover{
    background-color: var(--primary);
}
.about .about-logo img{
    width: 100px;
}
.about .about-content p{
    color: var(--white);
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    margin: 50px;
}
.about .resume a{
    border-radius: 3px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--primary);
    transition: all 0.5s;
    color: var(--white);
}
.about .resume a:hover{
    background-color: var(--primary);
}

/* skill section css */
.skill{
    position: relative;
}
.skill .overlay-skill{
    background-color: rgba(49, 49, 77, 0.623);
    width: 100%;
    height: 1000px;
}
.skill .skill-bg-img{
    background-image: url(../img/035244_9f46dd7c6e524eef94172c670fff1913~mv2_d_1920_1343_s_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 1000px;
}
.skill .skill-content{
    position: absolute;
    top: 100px;
    left: 23%;
    right: 23%;
    padding-top: 130px;
}
.skill .skill-content-page{
    position: absolute;
    top: 100px;
    left: 23%;
    right: 23%;
}
.section-title{
    margin: 100px 0;
}
.section-title span{
    color: rgb(190,199,213);
}
.section-title h3{
    text-align: center;
    color: var(--white);
    font-size: 42px;
    letter-spacing: 5px;
    padding: 30px;
}
.section-title p{
    text-align: center;
    color: var(--white);
    font-size: 24px;
    letter-spacing: 3px;
}
.skill-div{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.skill-div p{
    color: rgb(190,199,213);
    margin: 10px;
}
.skill-div .div1{
    background-color: var(--primary);
    width: 580px;
    height: 12px;
    margin: 10px;
    margin-left: 70px;
}
.skill-div span{
    color: rgb(190,199,213);
    margin: 10px;
}
.skill-div .div2{
    background-color: var(--primary);
    width: 500px;
    height: 12px;
    margin: 10px;
    margin-left: 82px;
}
.skill-div .div3{
    background-color: var(--primary);
    width: 450px;
    height: 12px;
    margin: 10px;
    margin-left: 29px;
}
.skill-div .div4{
    background-color: var(--primary);
    width: 500px;
    height: 12px;
    margin: 10px;
    margin-left: 47px;
}
.skill-div .div5{
    background-color: var(--primary);
    width: 400px;
    height: 12px;
    margin: 10px;
    margin-left: 42px;
}

/* project section css */
.project{
    position: relative;
}
.project .project-bg-img{
    width: 100%;
}
.project .overlay-project{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 77, 0.54);
}
.project .project-content .section-title{
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
}
.project .project-img{
    position: absolute;
    top: 400px;
    left: 150px;
    right: 150px;
    display: flex;
    flex-wrap: wrap;
}
.project .project-img .project-div{
    width: 33.3333%;
    padding: 10px;
}
.project .project-img .project-div img{
    width: 100%;
    height: 300px;
    object-position: top;
    object-fit: cover;
    transition: all 5s;
}
.project .project-img .project-div:hover img{
    object-position: bottom;
}

/* contact section css */
.contact{
    position: relative;
}
.contact .contact-img{
    background-image: url(../img/035244_9fd1a405d2864f3b8415885edfcd79dd~mv2.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
}
.contact .contact-overlay{
    position: absolute;
    background-color: rgba(49, 49, 77, 0.54);
    width: 100%;
    height: 800px;
}
.contact .contact-box{
    position: absolute;
    padding: 100px;
    left: 10%;
    right: 10%;
    background-color: var(--bg-primary);
    color: var(--white);
    margin: 80px 0;
}
.contact .contact-box .contact-me h2{
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 30px;
}
.contact .contact-box .contact-me p{
    line-height: 30px;
    padding-right: 30px;
}
.contact .contact-box .contact-me h3{
    padding: 30px 0;
    font-weight: 500;
}
.contact .contact-box .contact-me h5{
    font-size: 18px;
    font-weight: 300;
}
.contact .contact-box .contact-me h5 .github{
    color: black;
}
.contact .contact-box .contact-me h5 .linkedin{
    color: #0077B5;
}
.contact .contact-box .contact-me a i{
    font-size: 30px;
    padding: 5px;
}
.contact .contact-box form label{
    font-size: 18px;
}
.contact .contact-box form input{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    font-size: 18px;
    border-radius: 3px;
    border: none;
}
.contact .contact-box form textarea{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    font-size: 18px;
    border-radius: 3px;
    border: none;
}
.contact .contact-box form button{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary);
    font-size: 16px;
    background-color: var(--primary);
    color: var(--white);
    transition: all 0.3s;
}
.contact .contact-box form button:hover{
    background-color: var(--bg-primary);
}
.contact .contact-box .form-box p{
    padding: 10px;
}

/* footer section css */
footer{
    background-color: var(--bg-primary);
}
footer .footer-logo img{
    width: 100px;
    margin-left: 150px;
}
footer .footer-content p{
    color: rgb(178, 178, 178);
}